# Compiled and packaged artifacts
*.class
*.jar
*.war
*.ear

# Java virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# External libraries
/libs/

# Mac detritus
.DS_Store

# Gradle
gradlew*
/.gradle/
/gradle/
/build/

# IntelliJ
*.iml
/.idea/
/out/
